		<form class="form-horizontal" action="/" method="post">
					<fieldset>

					<!-- Form Name -->
					<legend>Add Store</legend>

					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="store_name">Store Name</label>  
					  <div class="col-md-4">
					  <input id="store_name" name="store_name" type="text" placeholder="Add a store name" class="form-control input-md" required="">
					    
					  </div>
					</div>

					<!-- Button -->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="button"></label>
					  <div class="col-md-4">
					    <button id="button" name="button" class="btn btn-primary">Button</button>
					  </div>
					</div>

					</fieldset>
		</form>
