<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
   <h1> {{ brand.getName }} </h1>
   	<div class= "container">
	   		<div>
	   			<ul>
	   		{%  if stores is not empty  %}
				{% for store in stores %}
			<li> <a href="/store/{{ store.getId }} ">{{ store.getName }} </a>  </li>

				{%  endfor %}

	   		{% endif %}
				</ul>
	   		</div>

		<form class="form-horizontal" action="/brand/{{ brand.getId }}" method="post">
					<fieldset>

					<!-- Form Name -->
					<legend>Add a Store</legend>

					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="brand_name">Store Name</label>  
					  <div class="col-md-4">
					  <input id="brand_name" name="store_name" type="text" placeholder="Add a Store name" class="form-control input-md" required="">
					    
					  </div>
					</div>

					<!-- Button -->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="button"></label>
					  <div class="col-md-4">
					    <button id="button" name="button" class="btn btn-primary">Button</button>
					  </div>
					</div>

					</fieldset>
		</form>
<a href="/">See all Stores</a>

   </div>
  </body>
</html>
